<head>
    <style>
        tr{
            background-color: beige;
        }
    </style>

</head>
<style>
    body{
        background-color: tan;
    }
</style>
<h3>{{titlelogin}}</h3>
<table class="table table-bordered" >
    <tr>
        <th>FULL NAME</th>
        <th>USERNAME</th>
        <th>AGE</th>
        <th>NUMBER PHONE</th>
        <th>ADDRESS</th>
        <th>HOBBIES</th>
        <th>PET</th>
        <th>ACTION</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>



        <td>
            <a href="#" class="btn btn-primary btn-sm">EDIT</a>
            <a href="#" class="btn btn-danger btn-sm">DELETE</a>
        </td>
    </tr>
    {{#each ups}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.age}}</td>
            <td>{{this.address}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.hobbies}}</td>
            <td>{{this.pet}}</td>
            <td>
                <a href="/{{this._id}}" class="btn btn-primary btn-sm">EDIT</a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure ?')" class="btn btn-danger btn-sm">DELETE</a>
            </td>
        </tr>
    {{/each}}
</table>