<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
</head>
<body style="background-color: #0f6674" >
<h3 style="text-align: center; color: darkred; margin-top: 20px;">{{viewTitle}}</h3>
<div style="text-align: center;">
    <img src="http://2.bp.blogspot.com/-pAWn6Yvi9xI/UU8xp31z4LI/AAAAAAAAA8c/ZNkbNgY7hzA/s1600/1B3U0476.jpg" width="300px; height:500px;" style="border-radius: 20px; margin-top: 20px;">
</div>

<form style="border: 20px; border-color: aqua; text-align: center" action="/updateuser" method="post">
    <input type="hidden" name="id" value="{{user._id}}">
    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;">
        Họ và tên : <input name="name" value="{{user.name}}" placeholder="name" style="width: 300px; height:40px ; border-radius:9px; margin-left: 70px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> User name : <input name="username" value="{{user.username}}" placeholder="user name" style="width: 300px; height:40px ; border-radius:9px; margin-left: 70px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Age : <input name="age" value="{{user.age}}" placeholder="age" style="width: 300px; height:40px ; border-radius:9px;margin-left: 130px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Number Phone :<input name="phone" value="{{user.phone}}" placeholder="number phone" style="width: 300px; height:40px ; border-radius:9px;margin-left: 25px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Address : <input name="address" value="{{user.address}}" placeholder="address" style="width: 300px; height:40px ; border-radius:9px;margin-left: 90px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Hobies : <input name="hobbies" value="{{user.hobbies}}" placeholder="hobies" style="width: 300px; height:40px ; border-radius:9px;margin-left: 100px;"></div>

    <div style="margin-top: 50px;font-size: 20px; font-family: tahoma; font-weight:bold;"> Pet : <input name="pet" value="{{user.pet}}" placeholder="pet" style="width: 300px; height:40px ; border-radius:9px;margin-left: 130px;"></div>

    <hr style="color: green"/>
    <button type="submit" style="background-color: blueviolet; color: whitesmoke; width: 130px;height: 40px;border-radius: 20px; ">Update User</button>


</form>
</body>
</html>